:root{
  --light: #E7ECEF;
    --dark: #272932;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 html{
   font-size: 100%;
 }
 body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }


 .header__nav{
 background-color:var(--dark);
  padding: 0 0.8rem;
 
}
.nav__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__nav .nav__title{
 color: var(--light);
 font-size: 1.5rem;
 font-style: italic;
}

.header__nav li {
  list-style: none;
  display:inline-block;
  padding: 0 1.5rem;
  
}
.header__nav a{
text-decoration: none;
color: var(--light);
transition: all 0.3s ease 0s;
font-size: 1.2rem;
}




.home__container{
  text-align:center;
  margin:0.5rem;
}

.footer__container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  color:var(--light);
}

.main__page{
  width:100%;
  height:80vh;
  flex : 1;
  
}

/*  Misdemeanour */

 .misdemeanoursTable{
   width:60%;
   margin:0 auto;
   border:2px solid #021e57;
   
 }
 
 .misdemeanoursHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #32a8a6;
  }
  .misdemeanoursHeader span{
    padding: 0;
    text-align: center;
    border: 2px solid #021e57;
    height: 3rem;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 12rem;
    font-size: 1.2rem;
    font-weight: bold;
    
  }

  .misdemeanoursBody span{
    padding: 0;
    text-align: center;
    height: 3rem;
    border: 2px solid #021e57;
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 12rem;
  }
 .misdemeanoursBody{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }
 
 .misdemeanoursFilter{
   padding:1rem;
   display:flex;
   flex-direction:row;
   felx-wrap:wrap;
   justify-content:center;
   align-items: center;
}
.options{
  font-size: 1rem;
  padding:0.5rem;
}

/* confess */

.confess__text{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.confess__text p{
  font-weight: 700;
}
.confess__form__fieldset{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width:50%;
  margin:0 auto;
 
}

.confess__form label{
 
  font-size:1rem;
  font-weight:bold;
  padding: 0.5rem;
  line-height:0.5rem;

}

.confess__form input{
  padding:0.3rem;
  
}

.confess__form .textarea{
  padding: 0.5rem;
  line-height:1rem;
  margin:0.5rem;
  width :300px;
  height:100px;

}
.confess__form .btn{
  padding: 0.2rem 0.5rem;
  background-color: #32a8a6;
  border-radius:5px;
}

.confess__form__submit{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.confess{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

  
  /* Loading indicator */
.loadSpinner{
  display: flex;
  align-items:center;
  justify-content: center;
  padding-top:8px;

}

/*homepage*/
.home__count{
  margin : 0 auto;
  text-align: center;
   padding:0.5rem;
  color:blue;
}